<div id="authMenu">
    {% if app.user %}
        <p>Estás logueado como <strong>{{ app.user.username }}</strong></p>
        
        {% if is_granted('ROLE_USER') %}
            <p>Tienes el rol de USER</p>
        {% elseif is_granted('ROLE_PREMIUM') %}
            <p>Tienes el rol de PREMIUM</p>
        {% elseif is_granted('ROLE_ADMIN') %}
            <p>Tienes el rol de ADMIN</p>
        {% endif %}
         
        <p><a href="{{ path('logout') }}">Salir</a></p>
    {% else %}
                                
        <form action="{{ path("login_check") }}" method="post" id="login">
            <input type="text" id="username" name="_username" value="identificador" />
            <input type="password" id="password" name="_password" value="contraseña" />
            <input type="submit" value="Acceder" />
        </form>        
        
        <br clear="all" />
        
        <a href="{{ path('registro') }}">Crear nueva cuenta</a><br />
        <a href="{{ path('login') }}">Iniciar sesión con el email</a>
        
    {% endif %}    

</div>