<div id="authMenu">
    {% if app.user %}
        <ul id="auth">
            <li>
            avisos
            </li><li>
                <button>{{ app.user.username | lower | capitalize }}</button>
                <ul id="authAdminMenu">
                    {% if is_granted('ROLE_USER') %}
                        <li>Usuario estandar</li>
                    {% elseif is_granted('ROLE_PREMIUM') %}
                        <li>Usuarios Premium</li>
                    {% elseif is_granted('ROLE_ADMIN') %}
                        <li>Administrador</li>
                    {% endif %}
                    <li>Perfil</li>
                    <li>Fotos</li>
                    <li>Mensajes</li>
                    <li><a href="{{ path('logout') }}">Finalizar sesión</a></li>
                </ul>
            </li>
        </ul>
    {% else %}
                                
        <form action="{{ path("login_check") }}" method="post" id="login">
            <input type="text" id="username" name="_username" value="identificador" />
            <input type="password" id="password" name="_password" value="contraseña" />
            <input type="submit" value="Acceder" />
        </form>        
        
        <br clear="all" />
        
        <a href="{{ path('registro') }}">Crear nueva cuenta</a><br />
        <a href="{{ path('login') }}">Iniciar sesión con el email</a>
        
    {% endif %}    

</div>