<div id="authMenu">
    {% if app.user %}

        <button>{{ app.user.username | lower | capitalize }}</button>
        <ul id="authAdminMenu">
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('logout') }}">Usuario estandar</a></li>
            {% elseif is_granted('ROLE_PREMIUM') %}
                <li><a href="{{ path('logout') }}">Usuarios Premium</a></li>
            {% elseif is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('logout') }}">Administrador</a></li>
            {% endif %}
            <li><a href="{{ path('editar_perfil') }}">Editar perfil</a></li>
            <li><a href="{{ path('logout') }}">Fotos</a></li>
            <li><a href="{{ path('logout') }}">Mensajes</a></li>
            <li><a href="{{ path('logout') }}">Finalizar sesión</a></li>
        </ul>

    {% else %}
                                
        <form action="{{ path("login_check") }}" method="post" id="login">
            <input type="text" id="username" name="_username" value="identificador" />
            <input type="password" id="password" name="_password" value="contraseña" />
            <input type="submit" value="Acceder" />
        </form>        
        
        <br clear="all" />
        
        <a href="{{ path('registro') }}">Crear nueva cuenta</a><br />
        <a href="{{ path('login') }}">Iniciar sesión con el email</a>
        
    {% endif %}    

</div>