<div id="authMenu">
    {% if app.user %}
        <ul id="auth">
            <li>
                <p id="username">{{ app.user.username | lower | capitalize }}</p>
                {% if is_granted('ROLE_USER') %}
                    <p><b>404 creditos</b></p>
                {% elseif is_granted('ROLE_PREMIUM') %}
                    <p>PREMIUM</p>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <p>ADMIN</p>
                {% endif %}
                <p><a href="{{ path('logout') }}">Finalizar sesión</a></p>                                                   
            </li><li>
                <input type="submit" value="Administrar"></input>
                <ul id="authAdminMenu">
                    <li>Perfil</li>
                    <li>Fotos</li>
                    <li>Mensajes</li>
                </ul>
            </li>
        </ul>
    {% else %}
                                
        <form action="{{ path("login_check") }}" method="post" id="login">
            <input type="text" id="username" name="_username" value="identificador" />
            <input type="password" id="password" name="_password" value="contraseña" />
            <input type="submit" value="Acceder" />
        </form>        
        
        <br clear="all" />
        
        <a href="{{ path('registro') }}">Crear nueva cuenta</a><br />
        <a href="{{ path('login') }}">Iniciar sesión con el email</a>
        
    {% endif %}    

</div>