{% if mainmenu is not defined %} 
    {% set mainmenu = 'inicio' %}
{% endif %}

<nav id="mainMenu">
    <ul>
        <li {{ mainmenu == 'inicio' ? "class='select'" : "" }}>
            {{ mainmenu == 'inicio' ? "<p>inicio</p>" : "" }}
            <a href="{{ path('home') }}">Home</a>
        </li>
        <li {{ mainmenu == 'usuarios' ? "class='select'" : "" }}>
            {{ mainmenu == 'usuarios' ? "<p>usuarios</p>" : "" }}
            <a href="{{ path('usuarios') }}">Buscador de usuarios</a>
        </li>
        <li {{ mainmenu == 'anuncios' ? "class='select'" : "" }}>
            {{ mainmenu == 'anuncios' ? "<p>anuncios</p>" : "" }}
            <a {{ mainmenu == 'anuncios' ? "class='select'" : "" }} href="#">Tablón de anuncios</a>
        </li>
        <li {{ mainmenu == 'locales' ? "class='select'" : "" }}>
            {{ mainmenu == 'locales' ? "<p>locales</p>" : "" }}
            <a {{ mainmenu == 'locales' ? "class='select'" : "" }} href="#">Locales liberales</a>
        </li>
        <li {{ mainmenu == 'grupos' ? "class='select'" : "" }}>
            {{ mainmenu == 'grupos' ? "<p>grupos</p>" : "" }}
            <a {{ mainmenu == 'grupos' ? "class='select'" : "" }} href="#">Grupos</a>
        </li>
        <li {{ mainmenu == 'eventos' ? "class='select'" : "" }}>
            {{ mainmenu == 'eventos' ? "<p>eventos</p>" : "" }}
            <a {{ mainmenu == 'eventos' ? "class='select'" : "" }} href="#">Fiestas y eventos</a>
        </li>
    </ul>
</nav>