{% extends '::base.html.twig' %}

{% block body %}
    <br clear="all" />

    <form id="editaPerfilForm" action="{{ path('editar_perfil') }}" method="post" {{ form_enctype(formbasico) }}>

        <section class="blackWindow left wMedium">
            <hgroup>
                <h1>Introducción</h1>
                <h2>{{ 'parejas.profile.introduction'|transchoice(profileType) }} <a class="divPop" rel='#wrapper' href="/wrappers/sugerencias-perfil-introductorio.html">Sugerencias</a></h2>
            </hgroup>
            <br clear="all" />

            <p>{{ perfil.paisId }}</p>

            <table id="editaperfil">

               <tr>
                    <td colspan="2">
                        <p class="bold">{{ form_label(formbasico.intro) }}</p>
                        <p>{{ form_widget(formbasico.intro) }}</p>
                        {{ form_errors(formbasico.intro) }}
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="pb16 fs10">{{ 'parejas.profile.description'|transchoice(profileType) }}</td>
                </tr>

            <tr>
                <td class="pt8">
                    <p class="bold">{{ form_label(formbasico.pais_id) }}</p>
                    {{ form_widget(formbasico.pais_id) }}
                </td>
                <td class="pt8">{{ form_errors(formbasico.pais_id) }}</td>
            </tr>

            <tr>
                <td colspan="2" class="pb8 fs10">{{ 'parejas.profile.country'|transchoice(profileType) }}</td>
            </tr>


            <tr>
                <td class="pt8">
                    <p class="bold">{{ form_label(formbasico.provincia_id) }}</p>
                    {{ form_widget(formbasico.provincia_id) }}</td>
                <td class="pt8">{{ form_errors(formbasico.provincia_id) }}</td>
            </tr>

            <tr>
                <td colspan="2" class="pb8 fs10">{{ 'parejas.profile.province'|transchoice(profileType) }}</td>
            </tr>


            <tr>
                <td class="pt8">
                    <p class="bold">{{ form_label(formbasico.localidad_id) }}</p>
                    {{ form_widget(formbasico.localidad_id) }}
                </td>
                <td class="pt8">{{ form_errors(formbasico.localidad_id) }}</td>
            </tr>

            <tr>
                <td colspan="2" class="pb8 fs10">{{ 'parejas.profile.city'|transchoice(profileType) }}</td>
            </tr>

           <tr>
                <td colspan="2"><input type="submit" value="{{ 'parejas.form.update'|trans }}" /></td>
            </tr>

            <tr>
                <td>{{ form_errors(formbasico) }}</td>
                <td>{{ form_errors(formbasico._token) }}</td>
                <td>{{ form_widget(formbasico._token) }}</td>
            </tr>

            </table>
            {#
            <button>Test de compatibilidad</button> Ajusta tus preferencias<br />
            <button>Formulario de compatibilidad</button> ¿Qué estás buscando?
            #}
    </section>

    <section class="redWindow left wSmall">
            <hgroup>
                <h1>Básico</h1>
                <h2><a class="divPop" rel='#wrapper' href="/wrappers/detalles-perfil-ayuda.html">Ayuda</a></h2>
            </hgroup>
            <br clear="all" /></br>
        <p>s</p>
        <p>s</p>
        <p>s</p>
        <p>ss</p>
        <p>s</p>
    </section>

    <section class="redWindow left wSmall">
        small
        <p>s</p>
        <p>s</p>
        <p>s</p>
        <p>ss</p>
        <p>s</p>
    </section>

    </form>

    <div class="apple_overlay" id="wrapper"><div class='html'></div></div>
{% endblock body %}