{% extends '::base.html.twig' %}

{% block body %}

    <br clear="all" />
    
    <div class="blackWindow wBig">

            <h1>Crea tu cuenta ahora GRATIS</h1>
            <h2>Completa todos los campos</h2>
            <br clear="all" />

        {% if( app.session.flash('notice') ) %}
        <div class="notice">
            <p>{{ app.session.flash('notice') }}</p>
        </div>
        {% endif %}
            
        <form id="registroForm" action="{{ path('registro') }}" method="post" {{ form_enctype(form) }}>

            <table id="registro">             
                
                <tr>
                    <td class="pt8">{{ form_label(form.username) }}</td>
                    <td class="pt8">{{ form_widget(form.username) }}</td>
                    <td class="pt8">{{ form_errors(form.username) }}</td>
                </tr>
                
                <tr>
                    <td></td>
                    <td colspan="2" class="pb8 fs10">Este será el identificador/alias de tu cuenta y servirá para que el resto de usuarios te localice. No utilices caracteres extraños ni espacios. Por ejemplo: pareja.xtrema, morboparvalencia, romeo_swing, jon-bea-liberales.</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.email) }}</td>
                    <td>{{ form_widget(form.email) }}</td>
                    <td>{{ form_errors(form.email) }}</td>
                </tr>            

                <tr>
                    <td></td>
                    <td colspan="2" class="pb8 fs10">Te servirá para identificarte y recibir todas las notificaciones y alertas del sistema que desees.</td>
                </tr>                
                
                <tr>
                    <td>{{ form_label(form.password.first, 'Contraseña:') }}</td>
                    <td>{{ form_widget(form.password.first) }}</td>
                    <td>{{ form_errors(form.password.first) }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.password.second, 'Repetite la contraseña:') }}</td>
                    <td>{{ form_widget(form.password.second) }}</td>
                    <td>{{ form_errors(form.password.second) }}</td>
                </tr>   
                
                <tr>
                    <td></td>
                    <td colspan="2" class="pb16 fs10">Introduce tu contraseña.</td>
                </tr>                 
                
                <tr>
                    <td>{{ form_label(form.perfiles.pais_id) }}</td>
                    <td>{{ form_widget(form.perfiles.pais_id) }}</td>
                    <td>{{ form_errors(form.perfiles.pais_id) }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.perfiles.provincia_id) }}</td>
                    <td>{{ form_widget(form.perfiles.provincia_id) }}</td>
                    <td>{{ form_errors(form.perfiles.provincia_id) }}</td>
                </tr>   

                <tr>
                    <td>{{ form_label(form.perfiles.localidad_id) }}</td>
                    <td>{{ form_widget(form.perfiles.localidad_id) }}</td>
                    <td>{{ form_errors(form.perfiles.localidad_id) }}</td>
                </tr>             

                <tr>
                    <td></td>
                    <td colspan="2" class="pb16 fs10">Cuanto más ajustes tu situación geográfica más fácil será para el resto de usuarios localizarte.</td>
                </tr>                                
                
                <tr>
                    <td class="pb16">{{ form_label(form.perfiles.tipo_perfil) }}</td>
                    <td class="pb16">{{ form_widget(form.perfiles.tipo_perfil) }}</td>
                    <td class="pb16">{{ form_errors(form.perfiles.tipo_perfil) }}</td>
                </tr>            

               <tr>
                    <td ></td>
                    <td colspan="2">
                        <p class="bold">{{ form_label(form.perfiles.intro) }}</p>
                        {{ form_widget(form.perfiles.intro) }}
                        {{ form_errors(form.perfiles.intro) }}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="2" class="pb16 fs10">Describe como eres/sois, que buscas, estas es tu carta de presentación.</td>
                </tr>                 
                
                <tr>
                    <td>{{ form_label(form.condiciones) }}</td>
                    <td>{{ form_widget(form.condiciones) }}</td>
                    <td>{{ form_errors(form.condiciones) }}</td>
                </tr> 

                <tr>
                    <td></td>
                    <td colspan="2" class="pb16 fs10">Léete las <a class="divPop" rel='#wrapper' href="/wrappers/condicionesdeuso.html">condiciones de uso</a></td>
                </tr>                 
                
                <tr>
                    <td></td>
                    <td><input type="submit" value="Regístrate" /></td>
                    <td></td>
                </tr>                 

                <tr>
                    <td>{{ form_errors(form) }}</td>
                    <td>{{ form_errors(form._token) }}</td>
                    <td>{{ form_widget(form._token) }}</td>
                </tr>                
                
                {{ form_rest(form) }}
                
            </table>

        </form>
        <br clear='all' />
    </div>
    <div class="apple_overlay" id="wrapper"><div class='html'></div></div>
{% endblock body %}