{% extends '::base.html.twig' %}

{% block body %}
    <h1>Registro</h1>

    {% if( app.session.flash('notice') ) %}
    <div class="notice">
        <p>{{ app.session.flash('notice') }}</p>
    </div>
    {% endif %}

    {{ form_errors(form) }}

    <form id="registroForm" action="{{ path('registro') }}" method="post" {{ form_enctype(form) }}>

        {{ form_errors(form.username) }}
        <p>
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </p>

        {{ form_errors(form.email) }}
        <p>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </p>

        {{ form_errors(form.roles) }}
        <p>
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
        </p>   
        
        
        {{ form_errors(form.perfiles.pais) }}
        <p>
            {{ form_label(form.perfiles.pais) }}
            {{ form_widget(form.perfiles.pais) }}
        </p> 
        
        {{ form_errors(form.perfiles.provincia) }}
        <p>
            {{ form_label(form.perfiles.provincia) }}
            {{ form_widget(form.perfiles.provincia) }}
        </p>
        
        {{ form_errors(form.perfiles.localidad) }}
        <p>
            {{ form_label(form.perfiles.localidad) }}
            {{ form_widget(form.perfiles.localidad) }}
        </p>
        
        {{ form_errors(form.perfiles.tipo_perfil) }}
        <p>
            {{ form_label(form.perfiles.tipo_perfil) }}
            {{ form_widget(form.perfiles.tipo_perfil) }}
        </p>        
        
        
        <div class="grid_6 alpha">
            {{ form_errors(form.password.first) }}
            <p>
                {{ form_label(form.password.first, 'Contraseña') }}
                {{ form_widget(form.password.first) }}
            </p>
        </div>

        <div class="grid_6 omega">
            {{ form_errors(form.password.second) }}
            <p>
                {{ form_label(form.password.second, 'Repetir contraseña') }}
                {{ form_widget(form.password.second) }}
            </p>
        </div>
        {{ form_errors(form._token) }}
        {{ form_widget(form._token) }}

        <input type="submit" value="Regístrate" />
    </form>
    
{% endblock body %}